@model OtelEleven.Models.Rezervasyon

@{
    ViewBag.Title = "Rezervasyon Detaylar";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Rezervasyon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Giris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giris)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cikis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cikis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Odano)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.hangikullanici)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
